.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.heading{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-weight: bold;
    color: rgb(85, 85, 85);
}
.loaderWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.paginationWrapper{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}