.footerWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    height: 20px;
}
.footerWrapper{
    font-size: 15px;
    color: #6e6e6e;
    font-weight: bold;
}