.right h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}
.form{
    display: flex;
    flex-direction: column;
}
.form input{
    width: 100%;
    padding-left: 10px; 
    border: none;
    outline: none;
    font-size: 14px;
    background:rgb(241, 241, 241);
}
.inputBox{
    display: flex;
    align-items: center;
    min-width: 300px;
    padding: 14px;
    background:rgb(241, 241, 241);
    margin-bottom: 15px;
    box-sizing: border-box;
}
.inputBox img{
    width: 12px;
}
.inputWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loginButtonWrapper{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.loginButton{
    padding: 10px;
    border-radius: 2px;
    background: rgb(31, 121, 255);
    color: #fff;
    width: 100px;
}
.loadingButton{
    background:rgb(169, 197, 238);
}
@media only screen and (max-width: 720px){
    .right{
        border-left: none;
    }
    .inputBox{
        min-width: 280px;
        padding: 11px;
    }
}