.modalMask{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.6);
}
.modalWrapper{
    width: 50%;
    height: 50%;
    /* width: 500px; */
    background: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    display: flex;
}
.closeButton{
    position: absolute;
    top: 8px;
    right: 3px;
    background: none;
    cursor: pointer;
}
.right{
    border-left: 1px solid rgb(163, 163, 163);
    margin: 20px 0;
    padding: 0 20px;
    width: 100%;
}
.right h2{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}
.left{
    display: flex;
    align-items: center;
    width: 100%;
}
.left img{
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
}
.form input{
    width: 100%;
    padding-left: 10px; 
    border: none;
    outline: none;
    font-size: 13px;
    background:rgb(241, 241, 241);
}
.inputBox{
    display: flex;
    align-items: center;
    width: 85%;
    padding: 10px;
    margin-left: 5%;
    background:rgb(241, 241, 241);
    margin-bottom: 15px;
}
.inputBox img{
    width: 12px;
}
.inputWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loginButtonWrapper{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.loginButton{
    padding: 10px;
    border-radius: 2px;
    background: rgb(31, 121, 255);
    color: #fff;
    width: 100px;
}
.forgotPassword{
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(36, 36, 36);
}
.signup{
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
    color: rgb(36, 36, 36);
}
@media only screen and (max-width: 920px){
    .modalWrapper{
        width: 70%;
    }
}
@media only screen and (max-width: 720px){
    .left{
        display: none;
    }
    .modalWrapper{
        width: 95%;
    }
    .right{
        border-left: none;
    }
    .inputBox{
        width: 93.5%;
        margin-left: 0;
    }
    .signup{
        margin-top: 10px;
    }
}