.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    background: rgb(27, 27, 27);
    box-sizing: border-box;
    padding: 30px 5px;
    transition: width .2s ease-in;
}
.sidebar.inactive{
    width: 80px;
}
.sidebar .topContent{
    position: relative;
}
.sidebar .topContent .toggleMenuBtn{
    color: #333;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}
.sidebar.inactive .topContent .toggleMenuBtn{
    right: -30px;
}
.sidebar .searchController{
    color: #fff;
    position: relative;
    margin: 20px 5px;
}
.sidebar .searchController .searchBtn{
    position: absolute;
    height: 45px;
    width: 40px;
    background: transparent;
    border: none;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-left: 10px;
}
.sidebar .searchController input[type=text]{
    background: #333;
    border: none;
    outline: none;
    height: 45px;
    color: #fff;
    box-sizing: border-box;
    padding-left: 58px;
    border-radius: 5px;
    width: 100%;
    font-size: 15px;
}
.divider{
    height: 1px;
    width: 100%;
    background: #333;
    border-radius: 1px;
}
.sidebar .mainMenu .menuItem{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    height: 50px;
    border-left: 3px solid rgb(27, 27, 27);
    border-right: 3px solid rgb(27, 27, 27);
    border-radius: 2px;
    cursor: pointer;
    margin: 10px 0;
    padding-left: 15px;
}
.productBorder{
    border-left: 3px solid rgb(146, 146, 146);
    margin: 0 !important;
}
.sidebar .mainMenu .menuItem:hover{
    background-color: #333;
    border-left: 3px solid rgb(146, 146, 146);
    box-sizing: border-box;
}
.menuIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.disable{
    display: none;
}
.enable{
    margin-left: 15px;
}
.subMenu{
    margin-left: 50px;
    padding-left: 5px;
    box-sizing: border-box;
    color: #fff;
    border-left: 2px solid #333;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-in;
}
.subMenu.active{
    box-sizing: border-box;
    max-height: 200px;
}
.menuItemExpand{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-weight: 600;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    height: 50px;
    border-left: 3px solid rgb(27, 27, 27);
    border-right: 3px solid rgb(27, 27, 27);
    border-radius: 2px;
    cursor: pointer;
    padding-left: 15px;
}
.menuItemExpand:hover{
    background-color: #333;
    border-left: 3px solid rgb(146, 146, 146);
    box-sizing: border-box;
}
.sidebarFooter{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding: 15px;
    height: 130px;
    background-color: #333;
    display: flex;
}
.sidebarFooter .avatar {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
}
.sidebarFooter .avatar img{
    max-width: 100%;
}
.userInfo{
    margin-left: 10px;
    color: #fff;
    margin-bottom: 5px;
    position: absolute;
    left: 65px;
    opacity: 1;
    transition: opacity .2s ease-in;
}
.userInfo h3{
    font-size: 18px;
}
.userInfo p{
    font-size: 13px;
}
.userInfo.inactive{
    opacity: 0;
}

@media only screen and (max-width: 720px){
    .sidebar{
        padding: 30px 10px;
    }
    .sidebar.inactive{
        width: 60px;
    }
    .sidebar .topContent .logo{
        width: 30px;
        height: 30px;
    }
}