.emptyCartContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
}
.emptyCartContainer img{
    width: 250px;
}
.emptyCartContainer h1{
    font-size: 40px;
    margin: 20px 0 0 50px;
    color: rgb(71, 71, 71);
    font-weight: bold;
}
.emptyCartContainer h2{
    font-size: 20px;
    margin-left: 65px;
    color: rgb(65, 65, 65);
    font-weight: bold;
}